* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: hsla(0, 0%, 87%, 1);
  box-sizing: border-box;
  background-color: hsla(0, 0%, 17%, 1);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  box-sizing: border-box;
  padding: 64px 28px;
  width: 375px;
  height: 667px;
  background-color: hsla(0, 0%, 9%, 1);
  border-radius: 25px;
  overflow: hidden;
}

.screen {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.screen > * {
  font-family: inherit;
  background: none;
  border: 0;
  text-align: right;
  letter-spacing: 0.04em;
}

.previous-operation {
  font-size: 20px;
  color: hsla(0, 0%, 67%, 1);
}

.current-number {
  margin-top: 16px;
  font-size: 36px;
  font-weight: 700;
  color: inherit;
}

.keys {
  margin-top: 48px;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.keys > * {
  height: 70px;
  width: 70px;
  border: 0;
  font-size: 24px;
  color: hsla(0, 0%, 87%, 1);
  background: none;
  border-radius: 15px;
  font-family: inherit;
}

.operator {
  font-size: 30px;
  font-weight: 700;
  color: hsla(274, 76%, 54%, 1);
}

.equal-sign {
  height: 100%;
  font-size: 24px;
  color: hsla(0, 0%, 95%, 1);
  background: linear-gradient(180.02deg, #942fe3 0.02%, #701cb2 99.98%);
  grid-column-start: 4;
  grid-row-start: 2;
  grid-row-end: 6;
}

.selected-key {
  background-color: hsla(0, 0%, 13%, 1);
}
